.App{
    position: relative;
}
.card{
    text-align: center;
}
.card_alineacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomePadre{
    position: relative;
}
.order{
    display: flex;
    flex-direction: column;
}
.imgpokedex{
    height: 150px;
    margin: 50px;
}